

*{
    /*reset css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header{ 
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    background-color: yellow;
    text-align: center;
    justify-content: space-around;
    }
}

.logo{
    height: 50px;
    width: auto;
    display: inline-block;
}

.div1, .div2, .div3 {
    
    display: flex;
    text-align:center;
    gap: 10px;
    

}
.nav{

    font-size: 30px;
    margin-top: 1px;
    line-height: normal;
    
    
}

article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3. 25%);
    gap: 2rem;
    margin: 3rem 2rem;
}

article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}







.footer {
        background-color: yellow;
        padding: 30px 0;
        margin-top: 0px;
        height: auto;
        width: 100%;
        position:relative;
        bottom: 0;
        left: 0;
        display:inline-block;
    }
    
    .copyright {
        text-align: center;
        font-size: 12px;
    }


.CATEGORIAS{
font-size: 20px;
margin-top: 150px;  
margin-left: 50px;

}


.BENEFICIOS{
    width: 29%;
    height: 10%;
    margin: 0%;
    padding: 0%;
    display: inline-block;
    text-align: center;
    
}

.sobrenosotros{
    margin: 2.5%;
    padding: 2.5%;
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
}
